<link href="/css.css" rel="stylesheet" type="text/css">


<p>Учебное пособие</p>


<center><table >
<form  action="/login" method="post">
<tr>
<td>
	<input type="text" placeholder="Имя" name="username" /><br/>
	</td>
	</tr>
	<tr>
	<td>
	<input type="password"  placeholder="Пароль" name="password"/>
	</td>
	</tr>
	<tr>
	<td>
	<input id="buttom"  type="submit" value="Вход" />
	</td>
	</tr>	
</form>
</table>
</center>
